.Homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.container {
  text-align: center;
}

.Homepage .btn {
  margin: 10px;
  text-decoration: none;
  border: none;
}